.App {
  text-align: center;
  margin-top: 50px;
}

.weather-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}


input {
  margin-right: 10px;
}

